<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>REKT.</title>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"
        ></script>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
        />
        <title>REKT.</title>
    </head>

    <body>
        <!-- NAVBAR -->
        <nav
            class="navbar sticky-top navbar-dark navbar-expand-lg bg-dark mb-3"
        >
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><strong>REKT.</strong></a>
            </div>
        </nav>

        <div class="mx-auto col-6 text-center">
            <h1>Something went wrong.</h1>
            <h2>That's all we know.</h2>
            <a href="/"
                ><button id="myBtn" class="btn btn-success">
                    Go back to Home
                </button></a
            >
        </div>
    </body>
</html>
